@using Forloop.HtmlHelpers

@model TestMatik_V1.Models.Soru


@{
    var db = new TestMatik_V1.Models.VerilerEntities();
    var TumDersler = db.Ders.ToList();
    TumDersler.Insert(0, new TestMatik_V1.Models.Der { Id = 0, Ad = "Ders Seçiniz" });

}

<div class="form-group">
    @Html.Label("Ders", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("slcDersler", new SelectList(TumDersler, "Id", "Ad"), htmlAttributes: new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.KonuId, "KonuId", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("KonuId", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.KonuId, "", new { @class = "text-danger" })
    </div>
</div>


@using (Html.BeginScriptContext())
{
    Html.AddScriptBlock(
    @<script type="text/javascript">
            $(document).ready(function () {
                $("#KonuId").empty();
                $("#slcDersler").on("change", function () {
                    $("#KonuId").empty();
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("DersinKonulari")', // we are calling json method
                        dataType: 'json',
                        data: { id: $("#slcDersler").val() },
                        success: function (konular) {
                            // states contains the JSON formatted list
                            // of states passed from the controller

                            $("#KonuId").append('<option value="' + "0" + '">' + "Konu Seçiniz" + '</option>');
                            //debugger;
                            $.each(konular, function (i, konu) {
                                $("#KonuId").append('<option value="' + konu.Value + '">' + konu.Text + '</option>');
                                // here we are adding option for States
                            });

                        },
                        error: function (ex) {
                            alert('Failed to retrieve konular.' + ex);
                        }
                    });

                })
            });
    </script>
    , true);
}