@model IEnumerable<TestMatik_V1.Models.Soru>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Metin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EkMetin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seviye)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Konu.Ad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Metin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EkMetin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seviye)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Konu.Ad)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
