@model TestMatik_V1.Models.Soru

@{
    int i = ViewBag.index ?? 0;
}

@Html.HiddenFor(x=>x.SecenekList[i].Id)
<div class="row">
    <hr />
    <div class="col-sm-5">
        @Html.LabelFor(model => model.SecenekList[i].Metin, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-sm-12">
            @Html.EditorFor(model => model.SecenekList[i].Metin, new { htmlAttributes = new { @class = "form-control", size = "6" } })
            @Html.ValidationMessageFor(model => model.SecenekList[i].Metin, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-sm-2">
        @Html.LabelFor(model => model.SecenekList[i].DogruMu, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-1">
            <div class="checkbox">
                @Html.EditorFor(model => model.SecenekList[i].DogruMu)
                @Html.ValidationMessageFor(model => model.SecenekList[i].DogruMu, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        @Html.LabelFor(model => model.SecenekList[i].AktifMi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-1">
            <div class="checkbox">
                @Html.EditorFor(model => model.SecenekList[i].AktifMi)
                @Html.ValidationMessageFor(model => model.SecenekList[i].AktifMi, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <hr />
</div>
